html {
  --GREEN: #6accba;
  --WHITE: #fff;
  --NAVY: #3f6072;
  --LIGHT_GREY: #e4eaee;
}

html,
body {
  height: 100%;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea {
  border: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--GREEN);
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--WHITE);
  width: 25vw;
  border-radius: 5px;
  height: 70vh;
}

.-height-100 {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Generic Styles */

.-flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.-subtle-shadow-transition {
  transition: box-shadow 0.5s;
  box-shadow: 0px 0.75em 0.75em 0px rgba(36, 42, 50, 0.1);
}

.-subtle-shadow-transition:hover {
  box-shadow: 0px 1.5em 1.5em 0px rgba(36, 42, 50, 0.3);
}

@media only screen and (max-width: 1024px) {
  .app {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .section-title {
    font-size: 1.313em;
    line-height: 1.5em;
  }
  .main-section-wrapper {
    padding: 6.25em 1.25em 1.563em 1.25em;
    height: 65vh;
  }
  .cta-btn {
    font-size: 1.5em;
  }
  .options-container {
    flex-direction: column;
  }
  .option-btn {
    width: 100%;
    margin-bottom: 15px;
    height: 50px;
    font-size: 1em;
    font-weight: 700;
  }
}
